@model FagElGamous.Models.C14

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="applicant-info-table">
    <tr>
        <th>Burial</th>
        <th>Burial Location</th>
        <th>Details</th>
        <th>Category</th>
        <th>Notes</th>
    </tr>

    <tr>
        <td style="color:black;">@Html.DisplayFor(model => model.Burial)</td>
        <td>
            <button type="button" class="collabsible btn">Burial Location</button>
            <div class="content">
                <p style="color:black;">@Html.DisplayNameFor(model => model.BurialLocation)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.BurialLocation)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Location)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Location)</p>
            </div>
        </td>
        <td>
            <button type="button" class="collabsible btn">Details</button>
            <div class="content">
                <p style="color:black;">@Html.DisplayNameFor(model => model.Rack)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Rack)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.NS)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.NS)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Column6)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Column6)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.EW)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.EW)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Column8)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Column8)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Square)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Square)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Area)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Area)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Rack1)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Rack1)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Tube)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Tube)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Description)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Description)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.SizeMl)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.SizeMl)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Foci)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Foci)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.C14Sample2017)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.C14Sample2017)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.QuestionS)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.QuestionS)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Column20)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Column20)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Conventional14cAgeBp)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Conventional14cAgeBp)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Calibrated95CalendarDateMax)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Calibrated95CalendarDateMax)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Column14cCalendarDate)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Column14cCalendarDate)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Calibrated95CalendarDateMin)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Calibrated95CalendarDateMin)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Column14cCalendarDate)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Column14cCalendarDate)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Calibrated95CalendarDateSpan)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Calibrated95CalendarDateSpan)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)</p>

                <p style="color:black;">@Html.DisplayNameFor(model => model.BurialFkNavigation.BurialId)</p>
                <p style="color:black;">@Html.DisplayFor(model => model.BurialFkNavigation.BurialId)</p>
            </div>
        </td>
        <td style="color:black;">@Html.DisplayFor(model => model.Category)</td>
        <td style="color:black;">@Html.DisplayFor(model => model.Notes)</td>

    </tr>
</table>
<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "both")).Succeeded)
    {
        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.C14Id">Edit</a><a> </a>
    }
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
    @if ((await AuthorizationService.AuthorizeAsync(User, "admin")).Succeeded)
    {
        <br /><a asp-action="Delete" asp-route-id="@Model.C14Id">Delete</a><a> </a>
    }
</div>

<script>
    var coll = document.getElementsByClassName("collabsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

