@model FagElGamous.Models.C14

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>C14</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocation): @Html.DisplayFor(model => model.BurialLocation)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rack): @Html.DisplayFor(model => model.Rack)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NS): @Html.DisplayFor(model => model.NS)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Column6): @Html.DisplayFor(model => model.Column6)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EW): @Html.DisplayFor(model => model.EW)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Column8): @Html.DisplayFor(model => model.Column8)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Square): @Html.DisplayFor(model => model.Square)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area): @Html.DisplayFor(model => model.Area)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burial): @Html.DisplayFor(model => model.Burial)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rack1): @Html.DisplayFor(model => model.Rack1)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tube): @Html.DisplayFor(model => model.Tube)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SizeMl): @Html.DisplayFor(model => model.SizeMl)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foci): @Html.DisplayFor(model => model.Foci)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.C14Sample2017): @Html.DisplayFor(model => model.C14Sample2017)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionS): @Html.DisplayFor(model => model.QuestionS)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Column20): @Html.DisplayFor(model => model.Column20)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conventional14cAgeBp): @Html.DisplayFor(model => model.Conventional14cAgeBp)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Column14cCalendarDate): @Html.DisplayFor(model => model.Column14cCalendarDate)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMax): @Html.DisplayFor(model => model.Calibrated95CalendarDateMax)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMin): @Html.DisplayFor(model => model.Calibrated95CalendarDateMin)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateSpan): @Html.DisplayFor(model => model.Calibrated95CalendarDateSpan)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg): @Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurialFkNavigation): @Html.DisplayFor(model => model.BurialFkNavigation.BurialId)
        </dt>
        
    </dl>
</div>
<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "both")).Succeeded)
    {
        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.C14Id">Edit</a><a> </a>
    }
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
    @if ((await AuthorizationService.AuthorizeAsync(User, "both")).Succeeded)
    {
        <br /><a asp-action="Delete" asp-route-id="@Model.C14Id">Delete</a><a> </a>
    }
</div>
