@model IEnumerable<FagElGamous.Models.C14>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*@foreach (var item in Model)
{
    <div class="card">
        <h5 class="card-header">
            @Html.DisplayFor(modelItem => item.BurialLocation)
            <a class="btn btn-outline-light" style="float:right" asp-action="Details" asp-route-id="@item.C14Id">Details</a>
        </h5>

        <div class="card-body">
            <p class="card-text">
                Carbon Dated Sample description @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p class="card-text">
                Estimated Age of Carbon Dated Sample: @Html.DisplayFor(modelItem => item.Conventional14cAgeBp) years
            </p>
            <p class="card-text">
                Orgin Date: @Html.DisplayFor(modelItem => item.Column14cCalendarDate)
            </p>
            <a class="btn btn-outline-danger" style="float:right" asp-action="Delete" asp-route-id="@item.C14Id">Delete</a>
            <a class="btn btn-outline-light" style="float:right" asp-action="Edit" asp-route-id="@item.C14Id">Edit</a>
        </div>

    </div>
}*@


<div class="wrapper row3">
    <section class="hoc container clear">
        <div class="sectiontitle">
            <p class="nospace font-xs">Explor different carbon dating data we have on existing sample from our lab</p>
            <p class="heading underline font-x2">Carbon Dating Data</p>
            
        </div>
        <ul id="latest" class="nospace group">
            <p>
                <a class="btn btn-outline-light" asp-action="Create">Create New Record</a>
            </p><br /><br />

            @foreach (var item in Model)
            {
                <li class="">
                    <article>
                        <div class="excerpt">
                            <h6 class="heading">@Html.DisplayFor(modelItem => item.Description)</h6>
                            <p>Estimated Age of Carbon Dated Sample: @Html.DisplayFor(modelItem => item.Conventional14cAgeBp) years</p>
                            <p>Orgin Date: @Html.DisplayFor(modelItem => item.Column14cCalendarDate)</p>
                            <p>Burial Location: @Html.DisplayFor(modelItem => item.BurialLocation)</p>
                            <footer><a class="btn" asp-action="Details" asp-route-id="@item.C14Id">See More</a></footer>
                        </div>
                    </article>
                </li>
                <br />
            }
        </ul>
    </section>
</div>





@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Square)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rack1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeMl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C14Sample2017)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conventional14cAgeBp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column14cCalendarDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Square)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rack1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tube)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeMl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foci)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C14Sample2017)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column20)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conventional14cAgeBp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Column14cCalendarDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calibrated95CalendarDateMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calibrated95CalendarDateMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calibrated95CalendarDateSpan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calibrated95CalendarDateAvg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialFkNavigation.BurialId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.C14Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.C14Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.C14Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
