@model FagElGamous.Models.Cranial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="applicant-info-table">
<tr>
    <th>Burial Number</th>
    <th>Burial Location</th>
    <th>Burial Direction</th>
    <th>Burial Subplot</th>
    <th>Gender</th>
    <th>Bone Length</th>
    <th>More Information</th>
</tr>

<tr>
    <td style="color:black;">@Html.DisplayNameFor(model => model.BurialNumber)</td>
    <td>
        <button type="button" class="collabsible btn">Burial Location</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialLocation)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningNorthSouthDirection)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningNorthSouthNumber)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningEastWestNumber)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningEastWestDirection)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialFkNavigation)</p>
        </div>
    </td>

    <td>
        <button type="button" class="collabsible btn">Burial Location</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialLocation)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningNorthSouthDirection)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningNorthSouthNumber)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningEastWestNumber)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPositioningEastWestDirection)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialFkNavigation)</p>
        </div>
    </td>

    <td>
        <button type="button" class="collabsible btn">Bone Length</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.MaximumCranialLength)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.MaximumCranialBreadth)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionBregmaHeight)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionNasion)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionProsthionLength)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BizygomaticDiameter)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionBregmaHeight)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.MaximumNasalBreadth)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.InterorbitalBreadth)</p>
        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Gender</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.GilesGender)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BodyGender)</p>
        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">More Information</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialDepth)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialFkNavigation)</p>
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialFkNavigation.BurialId)</p>
        </div>
    </td>
    </tr>

        @if ((await AuthorizationService.AuthorizeAsync(User, "both")).Succeeded)
        {
            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.CranialId">Edit</a><a> </a>
        }
        <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
        @if ((await AuthorizationService.AuthorizeAsync(User, "admin")).Succeeded)
        {
            <br /><a asp-action="Delete" asp-route-id="@Model.CranialId">Delete</a><a> </a>
        }
    </div>

    </table>

<script>
    var coll = document.getElementsByClassName("collabsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
