@{
    ViewData["Title"] = "Mummy Info";
}
@*@model FagElGamous.Models.ViewModels.UserViewModel*@
@model FagElGamous.Models.Burial

<table id="applicant-info-table">
    <tr>
        <th>Burial Number</th>
        <th>Burial</th>
        <th>Burial Location</th>
        <th>Burial Direction</th>
        <th>Burial Subplot</th>
        <th>Gender</th>
        <th>Dates</th>
        <th>Bones</th>
        <th>Samples Taken</th>
        <th>Bone Length</th>
        <th>Age</th>
        <th>Teeth</th>
        <th>Hair</th>
        <th>More Information</th>
    </tr>
    @*@foreach (var b in Model.Books)*@
<tr>
    <td style="color:black;">@Html.DisplayNameFor(model => model.BurialNumber)</td>
    <td>
        <button type="button" class="collabsible btn btn">Burial</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialPreservation)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialPreservation)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialWrapingCode)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialWrapingCode)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialAdultChild)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialAdultChild)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Burialagemethod)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Burialagemethod)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialWrapingCode)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialWrapingCode)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Tomb)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Tomb)</p>
        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn btn">Burial Location</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayFor(model => model.BurialLocation)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialLocation)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialLocationNs)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialLocationNs)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialLocationEw)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialLocationEw)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.AreaHillBurials)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.AreaHillBurials)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PoroticHyperostosisLocation)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PoroticHyperostosisLocation)</p>

        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Burial Direction</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.HighPairNs)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HighPairNs)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.HighPairEw)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HighPairEw)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.LowPairNs)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.LowPairNs)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.LowPairEw)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.LowPairEw)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.HeadDirection)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HeadDirection)</p>
        </div>
    </td>
    <td style="color:black;">@Html.DisplayNameFor(model => model.BurialSubplot)</td>
    <td style="color:black;">@Html.DisplayFor(model => model.BurialSubplot)</td>

    <td style="color:black;">@Html.DisplayNameFor(model => model.GenderBodyCol)</td>
    <td style="color:black;">@Html.DisplayFor(model => model.GenderBodyCol)</td>
    <td>
        <button type="button" class="collabsible btn">Dates</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.YearFound)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.YearFound)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.MonthFound)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.MonthFound)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.DayFound)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.DayFound)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.YearOnSkull)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.YearOnSkull)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.MonthOnSkull)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.MonthOnSkull)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.DateOnSkull)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.DateOnSkull)</p>
        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Bones</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.BasilarSuture)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BasilarSuture)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.VentralArc)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.VentralArc)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.SubpubicAngle)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.SubpubicAngle)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.SciaticNotch)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.SciaticNotch)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PubicBone)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PubicBone)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PreaurSulcus)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PreaurSulcus)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.MedialIpRamus)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.MedialIpRamus)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.DorsalPitting)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.DorsalPitting)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ForemanMagnum)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ForemanMagnum)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.FemurHead)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.FemurHead)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.HumerusHead)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HumerusHead)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Osteophytosis)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Osteophytosis)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PubicSymphysis)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PubicSymphysis)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Robust)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Robust)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.SupraorbitalRidges)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.SupraorbitalRidges)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.OrbitEdge)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.OrbitEdge)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ParietalBossing)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ParietalBossing)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Gonian)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Gonian)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.NuchalCrest)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.NuchalCrest)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ZygomaticCrest)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ZygomaticCrest)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.CranialSuture)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.CranialSuture)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.NuchalCrest)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.NuchalCrest)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.SkullTrama)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.SkullTrama)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.CribraOrbitala)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.CribraOrbitala)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PoroticHyperostosis)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PoroticHyperostosis)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.MetopicStructure)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.MetopicStructure)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ButtonOsteoma)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ButtonOsteoma)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PostcraniaTrauma)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PostcraniaTrauma)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.TemporalMandibularJoinOsteoarthritis)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.TemporalMandibularJoinOsteoarthritis)</p>

        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Samples Taken</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.SampleNumber)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.SampleNumber)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.HairTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HairTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.SoftTissueTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.SoftTissueTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BoneTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BoneTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ToothTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ToothTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.TextileTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.TextileTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.DescriptionOfTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.DescriptionOfTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BurialSampleTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BurialSampleTaken)</p>

        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Bone Length</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.FemurLength)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.FemurLength)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.HumerusLength)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HumerusLength)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.TibiaLength)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.TibiaLength)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.MaximumCranialLength)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.MaximumCranialLength)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.MaximumCranialBreadth)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.MaximumCranialBreadth)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionBregmaHeight)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BasionBregmaHeight)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionNasion)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BasionNasion)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionProsthionLength)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BasionProsthionLength)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BizygomaticDiameter)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BizygomaticDiameter)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BasionBregmaHeight)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BasionBregmaHeight)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.MaximumNasalBreadth)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.MaximumNasalBreadth)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.InterorbitalBreadth)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.InterorbitalBreadth)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.NuchalCrest)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.NuchalCrest)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.LengthOfRemains)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.LengthOfRemains)</p>
        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Age</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.EstimateAge)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.EstimateAge)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.AgeCode)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.AgeCode)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.EstimateLivingStature)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.EstimateLivingStature)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Burialagemethod)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Burialagemethod)</p>
        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Teeth</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.ToothTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ToothTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ToothAttrition)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ToothAttrition)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ToothEruption)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ToothEruption)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ToothTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ToothTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.TextileTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.TextileTaken)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.LinearHypoplasiaEnamel)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.DescriptionOfTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.DescriptionOfTaken)</p>

        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">Hair</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.HairColorCode)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HairColorCode)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.HairColorDescription)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HairColorDescription)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.HairTaken)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.HairTaken)</p>
        </div>
    </td>
    <td>
        <button type="button" class="collabsible btn">More Information</button>
        <div class="content">
            <p style="color:black;">@Html.DisplayNameFor(model => model.ArtifactsDescription)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ArtifactsDescription)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PreservationIndex)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PreservationIndex)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ArtifactFound)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ArtifactFound)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.EstimateLivingStature)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.EstimateLivingStature)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.OsteologyNotes)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.OsteologyNotes)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.OsteologyUnknownComment)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.OsteologyUnknownComment)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ToBeConfirmed)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ToBeConfirmed)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.FieldBook)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.FieldBook)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.FieldBookPageNumber)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.FieldBookPageNumber)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.InitialsOfDataEntryExpert)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.InitialsOfDataEntryExpert)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.InitialsOfDataEntryCheker)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.InitialsOfDataEntryCheker)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ByuSample)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ByuSample)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.BodyAnalysis)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.BodyAnalysis)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.SkullAtMagazine)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.SkullAtMagazine)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.PostcraniaAtMagazine)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.PostcraniaAtMagazine)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Goods)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Goods)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.FaceBundle)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.FaceBundle)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.Cluster)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.Cluster)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.ToBeConfirmed)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.ToBeConfirmed)</p>

            <p style="color:black;">@Html.DisplayNameFor(model => model.RackAndShelf)</p>
            <p style="color:black;">@Html.DisplayFor(model => model.RackAndShelf)</p>

        </div>
    </td>
    <td><button type="submit" onclick="" class="btn">Additional Field Notes</button></td>
    <td>
        @if ((await AuthorizationService.AuthorizeAsync(User, "both")).Succeeded)
        {

            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.BurialId">Edit</a>
            <a> </a>

        }
        <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
        @if ((await AuthorizationService.AuthorizeAsync(User, "admin")).Succeeded)
        {

            <br />
            <a asp-action="Delete" asp-route-id="@Model.BurialId">Delete</a>
            <a> </a>

        }
    </td>
</tr>
</table>

<button asp-action="AllSites" class="btn">Add Photo</button>
<button asp-route="Edit" class="btn">Edit</button>
<button asp-route="Delete" class="btn">Delete</button>

<script>
    var coll = document.getElementsByClassName("collabsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>