@{
    ViewData["Title"] = "Mummy Info";
}
@*@model FagElGamous.Models.ViewModels.UserViewModel*@
<!--I'll add the correct info once we get that from the data-->
@model FagElGamous.Models.Burial

<table id="applicant-info-table">
    <tr>
        <th>Burial Number</th>
        <th>Burial Location</th>
        <th>Burial Direction</th>
        <th>Burial Subplot</th>
        <th>Gender</th>
        <th>Dates</th>
        <th>Bones</th>
        <th>Samples Taken</th>
        <th>Bone Length</th>
        <th>Age</th>
        <th>Teeth</th>
        <th>Hair</th>
        <th>More Information</th>
    </tr>
    @*@foreach (var b in Model.Books)*@
    {
    <tr>
        <td>@Html.DisplayNameFor(model => model.BurialNumber)</td>
        <td>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.BurialPreservation)</p>
                <p>@Html.DisplayNameFor(model => model.BurialWrapingCode)</p>
                <p>@Html.DisplayNameFor(model => model.BurialAdultChild)</p>
                <p>@Html.DisplayNameFor(model => model.Burialagemethod)</p>
                <p>@Html.DisplayNameFor(model => model.BurialWrapingCode)</p>
                <p>@Html.DisplayNameFor(model => model.Tomb)</p>
            </div>
        </td>
        <td>
            <button type="button" class="collapsible">Burial Location</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.BurialLocation)</p>
                <p>@Html.DisplayFor(model => model.BurialLocationNs)</p>
                <p>@Html.DisplayFor(model => model.BurialLocationEw)</p>
                <p>@Html.DisplayFor(model => model.AreaHillBurials)</p>

                <p>@Html.DisplayFor(model => model.PoroticHyperostosisLocation)</p>
            </div>
        </td>
        <td>
            <button type="button" class="collapsible">Burial Direction</button>
            <div class="content">
                <p>@Html.DisplayFor(model => model.HighPairNs)</p>
                <p>@Html.DisplayFor(model => model.HighPairEw)</p>
                <p>@Html.DisplayFor(model => model.LowPairNs)</p>
                <p>@Html.DisplayFor(model => model.LowPairEw)</p>
                <p>@Html.DisplayFor(model => model.HeadDirection)</p>
            </div>
        </td>
        <td>@Html.DisplayFor(model => model.BurialSubplot)</td>
        <td>@Html.DisplayFor(model => model.GenderBodyCol)</td>
        <td>
            <button type="button" class="collapsible">Dates</button>
            <div class="content">
                <p>@Html.DisplayFor(model => model.YearFound)</p>
                <p>@Html.DisplayFor(model => model.MonthFound)</p>
                <p>@Html.DisplayFor(model => model.DayFound)</p>
                <p>@Html.DisplayFor(model => model.YearOnSkull)</p>
                <p>@Html.DisplayFor(model => model.MonthOnSkull)</p>
                <p>@Html.DisplayFor(model => model.DateOnSkull)</p>
            </div>
            </td>
        <td>
            <button type="button" class="collapsible">Bones</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.BasilarSuture)</p>
                <p>@Html.DisplayNameFor(model => model.VentralArc)</p>
                <p>@Html.DisplayNameFor(model => model.SubpubicAngle)</p>
                <p>@Html.DisplayNameFor(model => model.SciaticNotch)</p>
                <p>@Html.DisplayNameFor(model => model.PubicBone)</p>
                <p>@Html.DisplayNameFor(model => model.PreaurSulcus)</p>
                <p>@Html.DisplayNameFor(model => model.MedialIpRamus)</p>
                <p>@Html.DisplayNameFor(model => model.DorsalPitting)</p>
                <p>@Html.DisplayNameFor(model => model.ForemanMagnum)</p>
                <p>@Html.DisplayNameFor(model => model.FemurHead)</p>
                <p>@Html.DisplayNameFor(model => model.HumerusHead)</p>
                <p>@Html.DisplayNameFor(model => model.Osteophytosis)</p>
                <p>@Html.DisplayNameFor(model => model.PubicSymphysis)</p>
                <p>@Html.DisplayNameFor(model => model.Robust)</p>
                <p>@Html.DisplayNameFor(model => model.SupraorbitalRidges)</p>
                <p>@Html.DisplayNameFor(model => model.OrbitEdge)</p>
                <p>@Html.DisplayNameFor(model => model.ParietalBossing)</p>
                <p>@Html.DisplayNameFor(model => model.Gonian)</p>
                <p>@Html.DisplayNameFor(model => model.NuchalCrest)</p>
                <p>@Html.DisplayNameFor(model => model.ZygomaticCrest)</p>
                <p>@Html.DisplayNameFor(model => model.CranialSuture)</p>
                <p>@Html.DisplayNameFor(model => model.NuchalCrest)</p>
                <p>@Html.DisplayNameFor(model => model.SkullTrama)</p>
                <p>@Html.DisplayNameFor(model => model.CribraOrbitala)</p>
                <p>@Html.DisplayNameFor(model => model.PoroticHyperostosis)</p>
                <p>@Html.DisplayNameFor(model => model.MetopicStructure)</p>
                <p>@Html.DisplayNameFor(model => model.ButtonOsteoma)</p>
                <p>@Html.DisplayNameFor(model => model.PostcraniaTrauma)</p>
                <p>@Html.DisplayNameFor(model => model.TemporalMandibularJoinOsteoarthritis)</p>

            </div>
        </td>
        <td>
            <button type="button" class="collapsible">Samples Taken</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.SampleNumber)</p>
                <p>@Html.DisplayNameFor(model => model.HairTaken)</p>
                <p>@Html.DisplayNameFor(model => model.SoftTissueTaken)</p>
                <p>@Html.DisplayNameFor(model => model.BoneTaken)</p>
                <p>@Html.DisplayNameFor(model => model.ToothTaken)</p>
                <p>@Html.DisplayNameFor(model => model.TextileTaken)</p>
                <p>@Html.DisplayNameFor(model => model.DescriptionOfTaken)</p>
                <p>@Html.DisplayNameFor(model => model.BurialSampleTaken)</p>

            </div>
        </td>
        <td>
            <button type="button" class="collapsible">Bone Length</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.FemurLength)</p>
                <p>@Html.DisplayNameFor(model => model.HumerusLength)</p>
                <p>@Html.DisplayNameFor(model => model.TibiaLength)</p>
                <p>@Html.DisplayNameFor(model => model.MaximumCranialLength)</p>
                <p>@Html.DisplayNameFor(model => model.MaximumCranialBreadth)</p>
                <p>@Html.DisplayNameFor(model => model.BasionBregmaHeight)</p>
                <p>@Html.DisplayNameFor(model => model.BasionNasion)</p>
                <p>@Html.DisplayNameFor(model => model.BasionProsthionLength)</p>
                <p>@Html.DisplayNameFor(model => model.BizygomaticDiameter)</p>
                <p>@Html.DisplayNameFor(model => model.BasionBregmaHeight)</p>
                <p>@Html.DisplayNameFor(model => model.MaximumNasalBreadth)</p>
                <p>@Html.DisplayNameFor(model => model.InterorbitalBreadth)</p>
                <p>@Html.DisplayNameFor(model => model.NuchalCrest)</p>
                <p>@Html.DisplayNameFor(model => model.LengthOfRemains)</p>
            </div>
        </td>
        <td>
            <button type="button" class="collapsible">Age</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.EstimateAge)</p>
                <p>@Html.DisplayNameFor(model => model.AgeCode)</p>
                <p>@Html.DisplayNameFor(model => model.EstimateLivingStature)</p>
                <p>@Html.DisplayNameFor(model => model.Burialagemethod)</p>
            </div>
        </td>
        <td>
            <button type="button" class="collapsible">Teeth</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.ToothTaken)</p>
                <p>@Html.DisplayNameFor(model => model.ToothAttrition)</p>
                <p>@Html.DisplayNameFor(model => model.ToothEruption)</p>
                <p>@Html.DisplayNameFor(model => model.ToothTaken)</p>
                <p>@Html.DisplayNameFor(model => model.TextileTaken)</p>
                <p>@Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)</p>
                <p>@Html.DisplayNameFor(model => model.DescriptionOfTaken)</p>

            </div>
        </td>
        <td>
            <button type="button" class="collapsible">Hair</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.HairColorCode)</p>
                <p>@Html.DisplayNameFor(model => model.HairColorDescription)</p>
                <p>@Html.DisplayNameFor(model => model.HairTaken)</p>
            </div>
        </td>
        <td>
            <button type="button" class="collapsible">More Information</button>
            <div class="content">
                <p>@Html.DisplayNameFor(model => model.ArtifactsDescription)</p>
                <p>@Html.DisplayNameFor(model => model.PreservationIndex)</p>
                <p>@Html.DisplayNameFor(model => model.ArtifactFound)</p>
                <p>@Html.DisplayNameFor(model => model.EstimateLivingStature)</p>
                <p>@Html.DisplayNameFor(model => model.OsteologyNotes)</p>
                <p>@Html.DisplayNameFor(model => model.OsteologyUnknownComment)</p>
                <p>@Html.DisplayNameFor(model => model.ToBeConfirmed)</p>
                <p>@Html.DisplayNameFor(model => model.FieldBook)</p>
                <p>@Html.DisplayNameFor(model => model.FieldBookPageNumber)</p>
                <p>@Html.DisplayNameFor(model => model.InitialsOfDataEntryExpert)</p>
                <p>@Html.DisplayNameFor(model => model.InitialsOfDataEntryCheker)</p>
                <p>@Html.DisplayNameFor(model => model.ByuSample)</p>
                <p>@Html.DisplayNameFor(model => model.BodyAnalysis)</p>
                <p>@Html.DisplayNameFor(model => model.SkullAtMagazine)</p>
                <p>@Html.DisplayNameFor(model => model.PostcraniaAtMagazine)</p>
                <p>@Html.DisplayNameFor(model => model.Goods)</p>
                <p>@Html.DisplayNameFor(model => model.FaceBundle)</p>
                <p>@Html.DisplayNameFor(model => model.Cluster)</p>
                <p>@Html.DisplayNameFor(model => model.ToBeConfirmed)</p>
                <p>@Html.DisplayNameFor(model => model.RackAndShelf)</p>

            </div>
        </td>
        <td><button type="submit" onclick="" class="btn">Additional Field Notes</button></td>
        <td><button type="submit" onclick="">Edit</button></td>
    </tr>
    }
</table>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>