@model IEnumerable<C14>
@if (Model.Count() == 0)
{
    <p class="text-black-50">There are no C14 samples associated with this mummy.</p>
}
else
{
    @foreach (var x in Model)
    {
        <p>Location Sample Taken From: @x.BurialLocation</p>
        <p>Location Description: @x.Location</p>
        <p>Sample Notes: @x.Description</p>
        <p>Questions: @x.QuestionS</p>
        <p>Conventional 14C age BP # @x.Conventional14cAgeBp</p>
        <p>Column 14C Calendar Date: @x.Column14cCalendarDate</p>
        <p>Calibrated 95 Calendar Date Min: @x.Calibrated95CalendarDateMin</p>
        <p>Conventional 14C age BP # @x.Calibrated95CalendarDateMax</p>
        <p>Conventional 14C age BP # @x.Calibrated95CalendarDateAvg</p>
        <p>Conventional 14C age BP # @x.Calibrated95CalendarDateSpan</p>
        <p>Rack # @x.Rack</p>
        <p>Tube # @x.Tube</p>
        <p>Size: @x.SizeMl mm</p>
        <p>Foci: @x.Foci</p>
        <p>Category: @x.Category</p>
        <p>Lab Notes: @x.Notes</p>
    }
}

