@model IEnumerable<Sample>

@if (Model.Count() == 0)
{
    <p class="text-black-50">There are no samples associated with this mummy.</p>
}

    <section class="hoc container clear">
        <ul id="latest" class="nospace group">
            @foreach (var item in Model)
            {
                <li class="">
                    <article>
                        <div class="excerpt">
                            <h6 style="color:#FBAB45" class="heading">Location Sample Taken From: @Html.DisplayFor(modelItem => item.BurialLocation)</h6>
                            <p>Sample Notes: @Html.DisplayFor(modelItem => item.Notes)</p>
                            <p>Rack #: @Html.DisplayFor(modelItem => item.Rack)</p>
                            <p>Bag #: @Html.DisplayFor(modelItem => item.Bag)</p>
                            <p>Previously Sampled: @Html.DisplayFor(modelItem => item.SampleId)</p>
                            <p>Researcher's Initials: @Html.DisplayFor(modelItem => item.Initials)</p>
                        </div>
                    </article>
                </li>
                <br />
                <br />
            }
        </ul>
    </section>