@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<FagElGamous.Models.ViewModels.ViewModel>


<div class="wrapper row3">
    <section class="hoc container clear">
        <div class="sectiontitle">
            <p class="nospace font-xs">Explor different biological samples we have in our lab</p>
            <p class="heading underline font-x2">Biological Samples</p>
            <br />
            
        </div>
        <ul id="latest" class="nospace group">

            <p>
                <a class="btn btn-outline-light" asp-action="Create">Create New Record</a>
            </p>
            <br />
            <br />
            @foreach (var item in Model)
            {
                <li class="">
                    <article>
                        <div class="excerpt">
                            <h6 class="heading">@item.burial.BurialId</h6>
                            <p>@item.burial.BurialLocation</p>
                            <p>@item.sample.BurialFk</p>
                            <p>@item.sample.BurialLocation</p>
                            <p>@item.c14.BurialFk</p>
                            <p>@item.c14.BurialLocation</p>
                            <p>@item.burial.BurialSituation</p>
                            <p>@item.burial.GenderGe</p>
                            <p>@item.burial.SkullTrama</p>
                            <p>@item.sample.SampleId</p>
                            <p>@item.sample.Notes</p>
                            <p>@item.c14.C14Id</p>
                            <p>@item.c14.QuestionS</p>
                            <footer><a class="btn" asp-action="Details" asp-route-id="@item.burial.BurialId">See More</a></footer>
                        </div>
                    </article>
                </li>
                <br />
            }
        </ul>
    </section>
</div>




