@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<FagElGamous.Models.ViewModels.ViewModel>

<div class="container-fluid py-4">
    <h4 class="text-center text-uppercase">Connected Record</h4>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>burial.BurialId</th>
                <th>burial.BurialLocation</th>
                <th>sample.BurialFk</th>
                <th>sample.BurialLocation</th>
                <th>c14.BurialFk</th>
                <th>c14.BurialLocation</th>
                @*<th>cranial.BurialFk</th>*@
                @*<th>cranial.BurialLocation</th>*@
                <th>burial.BurialSituation</th>
                <th>burial.GenderGe</th>
                <th>burial.SkullTrama</th>
                <th>sample.SampleId</th>
                <th>sample.Notes</th>
                <th>c14.C14Id</th>
                <th>c14.QuestionS</th>
                @*<th>cranial.CranialId</th>*@
                <th>@*cranial.BurialArtifactDescription*@</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.burial.BurialId</td>
                <td>@item.burial.BurialLocation</td>
                <td>@item.sample.BurialFk</td>
                <td>@item.sample.BurialLocation</td>
                <td>@item.c14.BurialFk</td>
                <td>@item.c14.BurialLocation</td>
                @*<td>@item.cranial.BurialFk</td>*@
                @*<td>@item.cranial.BurialLocation</td>*@

                <td>@item.burial.BurialSituation</td>
                <td>@item.burial.GenderGe</td>
                <td>@item.burial.SkullTrama</td>
                <td>@item.sample.SampleId</td>
                <td>@item.sample.Notes</td>
                <td>@item.c14.C14Id</td>
                <td>@item.c14.QuestionS</td>
                <td>@*@item.cranial.CranialId*@</td>
                <td>@*@item.cranial.BurialArtifactDescription*@</td>
            </tr>

            }
        </tbody>
    </table>
</div>  