@model IEnumerable<FagElGamous.Models.Sample>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper row3">
    <section class="hoc container clear">
        <div class="sectiontitle">
            <p class="nospace font-xs">Explore different biological samples we have in our lab</p>
            <p class="heading underline font-x2">Biological Samples</p>
            <br />
        </div>
        <p>
            @if ((await AuthorizationService.AuthorizeAsync(User, "both")).Succeeded)
            {
                <a class="btn btn-outline-light" asp-action="Create">Create New Record</a>
            }
        </p><br /><br />


        <ul id="latest" class="nospace group">
            @foreach (var item in Model)
            {
                <li class="">
                    <article>
                        <div class="excerpt">
                            <h6 class="heading">@Html.DisplayFor(modelItem => item.Notes)</h6>
                            <p>Burial Site: @Html.DisplayFor(modelItem => item.BurialLocation)</p>
                            <footer><a class="btn" asp-action="Details" asp-route-id="@item.SampleId">See More</a></footer>
                        </div>
                    </article>
                </li>
                <br />
            }
        </ul>
    </section>
</div>


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Low)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.High)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Low1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.High1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviouslySampled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Low)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.High)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Low1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.High1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviouslySampled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialFkNavigation.BurialId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SampleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SampleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SampleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
